body {
    padding-top: 70px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.admin-menu, .challenge {
  float: left;
  height: 115px;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  background-color: #f9f9f9;
  border: 5px solid #fff;
  outline-color: #fff;
}
.admin-menu .glyphicon {
    width: 100%;
    top: calc(30% - 20px);
}

.admin-menu:hover, .admin-menu-hover {
  color: #fff;
  background-color: #337ab7;
}

.result {
  background-color: #f9f9f9;
}

.stopContainer {
    cursor: pointer;
}

a {
    color: black !important;
    text-decoration: none !important;
}

a:hover {
    color: white!important;
}

.alert {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 400px;
    text-align: center;
}

.alert-info {
  z-index: 1;
}

.alert-success {
  z-index: 2;
}

.alert-danger {
  z-index: 3;
}

#login-container .col-md-12 {
    text-align: center;
}

#login-container .col-md-12 * {
    text-align: center;
}

#login-container {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  background-color: #F7F7F7;
  border-radius: 2px;
  padding: 40px;
}

div#login-container div {
    margin: 5px 0px;
}

.login-logo, #login-container .alert  {
  width:100%;
}

.challenge.started:hover {
  background-color: #2ECC71;
}

.challenge.stopped:hover {
  background-color: #F5B7B1;
}

.challenge.starting:hover {
  background-color: #F9E79F;
}

.challenge {
    color: black;
    height: auto;
    font-size: 12px;
}

.fa-spin-custom, .glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.btn-outlined {
    background: none;
    border-color: #545454;
    background-image: none;
    border: 3px solid;
}

.btn-outlined:hover,
.btn-outlined:active {
    color: #FFF;
    background: #545454;
    border-color: #545454;
}

a#logout {
    padding-top: 29px;
}

@media only screen and (max-width: 1199px) {
  .bootstrap-table {
      margin-top: 140px;
  }
}
