body {
    padding-top: 70px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.admin-menu {
  float: left;
  height: 115px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  background-color: #f9f9f9;
  border: 5px solid #fff;
  outline-color: #fff;
}
.admin-menu .glyphicon {
    width: 100%;
    top: calc(30% - 20px);
}

.admin-menu:hover, .admin-menu-hover {
  color: #fff;
  background-color: #337ab7;
}

.result {
  background-color: #f9f9f9;
}

.stopContainer {
    cursor: pointer;
}

a {
    color: black !important;
    text-decoration: none !important;
}

a:hover {
    color: white!important;
}

.alert {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 400px;
    text-align: center;
}

.alert-info {
  z-index: 1;
}

.alert-success {
  z-index: 2;
}

.alert-danger {
  z-index: 3;
}

#login-container .col-md-12 {
    text-align: center;
}

#login-container .col-md-12 * {
    text-align: center;
}

#login-container {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  background-color: #F7F7F7;
  border-radius: 2px;
  padding: 40px;
}

div#login-container div {
    margin: 5px 0px;
}

.login-logo, #login-container .alert  {
  width:100%;
}
